*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    height: 500vh;
}

.container{
    max-width: 1280px;
    margin: 0px;
    
}

.container ul li :hover{
color: rgb(199, 196, 203);
}

.flex{
   display: flex; 
   align-items: center;
   justify-self:space-between;
}

header{
    width: 100%;
    padding: 60px 4%;
    position:fixed;
    top: 0;
    left: 0;
    transition: 1s;
    z-index: 1000;
}

header.rolagem{
background-color: #ffffff;
padding: 20px 4%;
}

header.rolagem a, header.rolagem i{
    color: black;
}

header i{
font-size: 30px;
color: #978989;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-flex;
    margin: 0 45px;
}

header ul li a{
    color:#090606;
    text-decoration: none;
    margin-top:  25px;
}

.banner{
    height: 100vh;
    background-image:url(images/leadspace.png);
    background-position: center;
    mask-repeat: no-repeat;
    background-size:cover;
    z-index: 100px;
}

.banner{
    font-size: 4em;
    
    
}
.banner h2{
    color: #171514;
    margin-top: 2%;
}

.h2center{
    position: relative;
}


.banner h6 ul a{
    font-family: 'Poppins', sans-serif;
    display:inline-block;
    justify-content: space-between;
    align-items: center;
    color: #171514;
    list-style-type: none;
    text-decoration: none;
    width: 700px; 
    height: 100px; 
    bottom: 250px;
    position:absolute;
    left: 100px; 
}


